:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary0: #E8EEE9;
  --primary1: #CEDED1;
  --primary2: #B4D1BA;
  --primary3: #99C9A3;
  --primary4: #7DC58D;
  --primary5: #5EC675;
  --primary6: #54B369;
  --primary7: #529A62;
  --primary8: #50845C;
  --primary9: #4D7355;
  --primary10: #49644F;
  --primary11: #445748;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #CEDED1;
    --foreground: #445748;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
